.sale-wrapper {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 80vw;
  margin: 20px auto;
  justify-content: center;
}

.sale-chart-wrapper {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin: 20px;
  /* height: 50vh; */
}

.sale-wrapper-header {
  display: flex;
  justify-content: end;
}

.sale-wrapper-header button {
  margin: 5px;
}

.action-btns {
  display: flex;
  margin: 20px 0 0 0;
}
