.sale-wrapper-stock {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 80vw;
  margin: 20px auto;
  justify-content: center;
}

.sale-wrapper-stock .sale-chart-wrapper {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* margin: 20px; */
  /* max-height: 50vh; */
  /* min-width: 1000px; */
  padding: 10px;
}

.sale-wrapper-stock .sale-wrapper-header {
  display: flex;
  justify-content: end;
}

.sale-wrapper-stock .sale-wrapper-header button {
  margin: 0 0 0 10px;
}

.sale-wrapper-stock .sale-wrapper-filter {
  /* margin: 40px 0 20px 0; */
}

.sale-wrapper-stock h1 {
  font-size: 20px;
}

@media (min-height: 1127px) {
  .sale-wrapper-stock h1 {
    font-size: 30px;
  }
}

@media (min-height: 1300px) {
}
