.topBar-wrapper {
  /* display: flex; */
  flex-direction: column;
  height: 90vh;
  width: 95vw;
  /* margin: 20px auto; */
  justify-content: center;
}

.topBar-wrapper .sale-wrapper-filter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.topBar-wrapper .result-wrapper {
  display: flex;
  flex-direction: column;
}

.topBar-wrapper .pie-chart-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.pie-chart-wrapper .chart-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  /* height: 50vh; */
}

.pie-chart-wrapper .ant-spin-container {
  display: flex;
  /* justify-content: space-evenly; */
  /* width: 80vw; */
}

.pie-chart-wrapper .ant-spin-container .bizcharts {
  margin: 0 20px;
}
