.entry-wrapper {
  height: 50vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.entry-wrapper button {
  margin: 20px;
}

.entry-wrapper .ant-card-body {
  padding: 24px 0 !important;
}
